<?xml version="1.0" encoding="UTF-8"?>
<p:configjarSettings xmlns:p="http://www.bea.com/alsb/tools/configjar/config">
    <p:source>
        <p:system dir="D:\workspace\CI\CI_SOA\CI-servicebus-application\System"/>
        <p:fileset>
            <p:exclude name="*/pom.xml"/>
            <p:exclude name="*/.data/**"/>
        </p:fileset>
    </p:source>
    <p:configjar jar="D:\workspace\CI\CI_SOA\CI-servicebus-application\System\.data\maven\sbconfig.sbar">
        <p:resourceLevel includeDependencies="false"/>
    </p:configjar>
</p:configjarSettings>