<?xml version="1.0" encoding="UTF-8"?>
<con:configjarSettings xmlns:con="http://www.bea.com/alsb/tools/configjar/config"><con:source><con:project dir="D:\workspace\CI\CI_SOA\CI-servicebus-application\CI_Test1"/><con:fileset><con:include name="**/pipelines/*"/><con:exclude name="**/proxies/*"/><con:exclude name="*/overview.xml"/><con:exclude name="/pom.xml"/><con:exclude name="*/.settings/**"/><con:exclude name="*/.data/**"/></con:fileset></con:source><con:configjar jar="D:\workspace\CI\CI_SOA\CI-servicebus-application\CI_Test1\.data\maven\sbconfig.sbar"><con:resourceLevel includeDependencies="false"/></con:configjar></con:configjarSettings>